<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="images/weather.png"/>

</head>
<body>
    <div class="main-content">
        {{>header}}
        <p id="desc">This web application was created by Zeyad Mohamed. It uses data from mapbox.com and weatherstack.com </p>
        <img class="portrait" src="images/cat.jpg">
    </div>
    
    {{>footer}}
</body>




</html>